nav{
    text-align: center;
    font-size: 25px;
    border: 1px solid grey;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 5px;
}
header h1{
    text-align: center;
} main h2 {
    text-align: center;
}
